.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  background-color: #2ecc71;
  word-break: break-word;
  max-width: 50vw;
}

.bubbleAlt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  background-color:  #3498db;
  word-break: break-word;
  max-width: 50vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
}

.container-other {
  padding: 8px;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
}

.container-self {
  padding: 8px;
  width: 90vw;
  display: flex;
  justify-content: flex-end;
}
