body {
  background-color: #242423;
  color: #e8eddf;
}

.container {
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding-bottom: 120px;
}

.chat {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 12px;
}

.chat-container {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #333533;
  border-radius: 12px;
}

.chatbox {
  padding: 6px;
  width: 400px;
  height: 25px;
  border: none;
  background-color: #333533;
  color: #e8eddf;
}

.chatbox:focus {
  outline: none;
}

.send-container {
  padding-right: 12px;
  padding-left: 12px;
  color: #f5cb5c;
}

.send-container:hover {
  cursor: pointer;
  color: #e8eddf;
  transition: color 0.25s ease;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
}

#ref {
  height: 1px; 
}